@use "general";
@use "font-book";
@use "colors/theme_light";

@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --font-acumin: 'Acumin Pro Wide', sans-serif;

  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
}

@layer base {
  html,
  body {
    min-width: 320px;
    scroll-behavior: smooth;
    font-size: 16px;
  }

  .custom-test {
    @apply text-white bg-amber-200;
  }
}
