@use "general";
@use "font-book";
@use "colors/theme_light";

@use "vendor_overrides/splide";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    min-width: 320px;
    scroll-behavior: smooth;
    font-size: 16px;
  }

  .custom-test {
    @apply text-white bg-amber-200;
  }

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
    @apply text-primary font-proxima font-bold;

		text-rendering: optimizelegibility;
  }

	p, span, div {
		@apply text-primary font-proxima font-light leading-loose;
	}
}
