@use "general";
@use "font-book";
@use "colors/theme_light";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    min-width: 320px;
    scroll-behavior: smooth;
    font-size: 16px;
  }

  .custom-test {
    @apply text-white bg-amber-200;
  }
}
