@import "@splidejs/splide/dist/css/splide-core.min.css";
@layer utilities {
  .text-shadow-thickens {
    text-shadow: 0 0 0 rgb(0, 0, 0);
  }
  .text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
}
.skeleton {
  background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
  background-size: 200% 100%;
  animation: skeleton-loading 1.5s infinite linear;
}

@keyframes skeleton-loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
@font-face {
  font-family: "Acumin Pro Wide";
  src: url("../fonts/Acumin/acumin-pro-wide-thin.otf") format("opentype");
  font-weight: 300;
}
@font-face {
  font-family: "Acumin Pro Wide";
  src: url("../fonts/Acumin/acumin-pro-wide.otf") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova/proxima-nova-light.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova/proxima-nova-regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova/proxima-nova-semibold.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova/proxima-nova-extrabold.ttf") format("truetype");
  font-weight: 700;
}
.theme-light {
  --color-primary: #010303;
  --color-secondary: #efefef;
  --color-tertiary: #333333;
  --color-yellow-primary: #fffa2a;
  --color-teal-primary: #04d4ff;
  --color-teal-secondary: #b3f4d5;
  --color-gray-primary: #969a9b;
  --color-gray-secondary: #e5e4e2;
  --color-gray-lighter: #f8f8f8 ;
}

.splide-main:hover .splide__arrows {
  opacity: 1;
}
.splide-main img {
  cursor: grabbing;
}
.splide-main .splide:hover .splide__arrows {
  opacity: 1;
}
.splide-main .splide__arrows {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  pointer-events: none;
  z-index: 1;
  opacity: 0;
}
.splide-main .splide__arrow {
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px);
  border-radius: 50%;
  padding: 10px;
  opacity: 0.7;
  height: 33px;
  width: 33px;
  pointer-events: auto;
  transition: opacity 0.2s, background 0.2s;
}
.splide-main .splide__arrow--prev svg {
  transform: rotate(180deg);
}
.splide-main .splide__arrow svg {
  fill: #fff;
  width: 12px;
  height: 12px;
}
.splide-main .splide__arrow:hover {
  opacity: 1;
  background: rgba(0, 0, 0, 0.6);
}
.splide-main .splide__pagination {
  position: absolute;
  width: 100%;
  bottom: 12px;
}
.splide-main .splide__pagination__page {
  background: white;
  opacity: 0.5;
  width: 5px;
  height: 5px;
  margin: 0 3px;
  border-radius: 100%;
}
.splide-main .splide__pagination__page.is-active {
  opacity: 1;
  width: 16px;
  border-radius: 4px;
  background: white;
  transform: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  html,
  body {
    min-width: 320px;
    scroll-behavior: smooth;
    font-size: 16px;
  }
  .custom-test {
    @apply text-white bg-amber-200;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-primary font-proxima font-bold;
    text-rendering: optimizelegibility;
  }
  p, span {
    @apply text-primary font-proxima font-light leading-loose;
  }
}

/*# sourceMappingURL=app.css.map */
