$rich-black: #010303;
$metallic-black: #060606;

$bright-gray: #efefef;

$lemon-yellow: #fffa2a;

$bright-cyan: #04d4ff;
$pastel-green: #b3f4d5;

$spanish-gray: #969a9b;
$platinum-gray: #e5e4e2;
$desert-storm:#f8f8f8;
